PORT=3001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=auth_db
DB_PORT=3306

JWT_SECRET=Gyarados09_Vofer
REFRESH_SECRET=Dragonite99_Refresh

GOOGLE_CLIENT_ID=1024278645037-pplofdn2ltlf8vtl6j1ecellnli2flhh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
